
@{
    ViewData["Title"] = "AddCinema";
    Layout = "~/Views/Shared/_CinemaLayout.cshtml";
}

<h2>AddCinema</h2>
@if (ViewBag.Message != null && ViewBag.Message != "")
{
    <h1 class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> @ViewBag.Message</h1>
}
<form method="post">
    <input type="text" name="Name" id="Name" placeholder="Name" />
    <input type="text" name="Release_Date" id="Release_Date" placeholder="Release_Date" />
    <input type="text" name="Category" id="Category" placeholder="Category" />
    <input type="text" name="Language" id="Language" placeholder="Language" />
    <input type="text" name="Director" id="Director" placeholder="Director" />
    <input type="text" name="Producer" id="Producer" placeholder="Producer" />
    <input type="text" name="Actor" id="Actor" placeholder="Actor" />
    <input type="text" name="Actress" id="Actress" placeholder="Actress" />
    <input type="text" name="Writer" id="Writer" placeholder="Writer" />
    <input type="submit" value="submit" />
</form>